*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.size{
    padding: 1em 4em;
}

.header,
.date-header,
.header-suscribe,
.point, .navbar,
.navbar-options, 
.navbar header,
.header-main,
.info-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    justify-content: space-between;
    /*border-bottom: solid 1px rgb(189, 187, 187);*/
    color: gray;
    margin: 0.5em 0 0 0;
    padding: 0 75px
}

.date-header{
    font-weight: bold;
}

.date-header svg{
    margin: 0 0.6em;
}

.cloud-header{
    margin: 0 0 0 0.6em !important;
}

.date{
    margin-left: 1em;
    font-weight: normal;
}

.header-suscribe label{
    margin: 0 0.5em;
    font-weight: bold;
}

.point{
    align-items: flex-end;
    flex-direction: column;
}

.navbar{
    flex-direction: column;
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 0 75px
}

.navbar-options{
    justify-content: space-evenly;
    width: 100%;
}

.number{
    background-color: red;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 7px 3px 7px;
    color: white;
}

.navbar header{
    margin: 2em 0;
}

.navbar header h1{
    margin-left: 0.5em;
    color: red;
    font-family: 'Yeseva One', cursive;
}

.navbar-options p{
    font-weight: bold;
}

.ball{
    color: red;
    margin-right: 0.3em;
}

.main-destacados, .info-main h5{
    color: rgb(0, 134, 187);
    font-weight: bold;
}

.main-destacados span{
    color: black;
}

.data-main-header{
    margin-left: 0.3em;
}

.data-main-header svg{
    margin: 0 0.2em;
}

.header-main{
    margin: 1.5em 0;
}

.info-main{
    margin: 0.5em 0 1em 0;
    padding: 0 75px
}

.mid-section{
    border-left: rgb(189, 187, 187) solid 1px;
    border-right: rgb(189, 187, 187) solid 1px;
}

.info-main h5{
    font-size: 15px;
    margin-top: 1.5em;
}

.info-main h2, .info-main h4{
    font-weight: bold;
}

.info-main p{
    margin-top: 0.6em;
}

.img-2, .img-3, .img-1, .img-4{
    width: 100%;
    border-radius: 5px;
}

.img-1{
    margin-top: 3em;
}

.img-4{
    margin-top: 1.5em;
}

.int-4{
    margin-top: 1.5em !important;
}